<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/clue.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/clue.js"></script>
    <script src="/js/renzheng.js"></script>

</head>
<body>

<div class="gtco-loader"></div>
<div  th:insert="~{navigation :: nav}"></div>

<div id="page" class="container-fluid main" >
    <div class="container-fluid main profile">
        <div class="row">
            <!-- 左边主要内容-->
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <!--正文-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1>认证审核</h1>
                    <table class="table table-striped">
                        <tr>
                            <td>认证名</td>
                            <td>王彦铭</td>
                        </tr>
                        <tr>
                            <td>申请时间</td>
                            <td>2020年5月12日</td>
                        </tr>
                        <tr>
                            <td>申请人</td>
                            <td>雁鸣</td>
                        </tr>

                    </table>
                    <hr>
                    <h1>材料</h1>
                    <img   alt="Responsive image" th:src="@{${filename}}"class="img-thumbnail">
                    <!--<h3 class="question-title"><span class="title-name" th:text="${clue.title}"></span></span></h3>-->
                    <!--<span class="text-desc col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                        <!--发布人：<a th:href="@{'/info/'+${clue.user.id}}" th:text="${clue.user.name}"></a> |-->
                        <!--发布时间：<span th:text="${#dates.format(clue.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>|-->
                        <!--&lt;!&ndash;状态&ndash;&gt;-->
                        <!--发布状态：-->
                        <!--<span th:switch="${clue.status}">-->
                        <!--<span th:case="0"  class="label label-warning">待审核</span>-->
                        <!--<span th:case="1"  class="label label-info">一审通过</span>-->
                        <!--<span th:case="2"  class="label label-info">二审通过</span>-->
                        <!--<span th:case="3"  class="label label-success">已发布</span>-->
                        <!--<span th:case="4"  class="label label-default">已退回</span>-->
                        <!--<span th:case="*"  class="label label-error">状态异常</span>-->
                    <!--</span>|-->

                        <!--<span >-->
                            <!--认证信息：-->
                            <!--<span th:switch="${clue.user.renzheng}">-->
                        <!--<span th:case="1"  >-->
                            <!--<span class="glyphicon glyphicon-ok-sign" aria-hidden="true" style="color:orange"></span>-->
                            <!--<span th:text="${clue.user.renzhengString}"></span>-->
                        <!--</span>-->
                        <!--<span th:case="0"  >-->
                            <!--<span class="glyphicon glyphicon-remove-sign" aria-hidden="true" style="color:grey"></span>未认证</span>-->
                                <!--<span th:case="*" >状态异常</span>-->
                        <!--</span>-->
                        <!--</span>-->

                    <!--</span>-->
                    <!--<a th:href="@{'/publish/'+${clue.id}}" class="community-menu">-->
                    <!--<span class="glyphicon glyphicon-pencil" aria-hidden="true">-->
                    <!--</span>-->
                        <!--编辑-->
                    <!--</a>-->
                    <!--<hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                    <!--<div id="clue_content" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${clue.content}">-->
                    <!--</div>-->

                    <!--<hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->

                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                </div>
                <!--回复-->
                <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                    <!--<h4>-->
                        <!--<span th:text="${question.commentCount}"></span>个回复-->
                    <!--</h4>-->
                    <!--<hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">-->
                    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments" th:each="comment: ${comments}">-->
                        <!--<div class="media">-->
                            <!--<div class="media-left">-->
                                <!--<a href="#">-->
                                    <!--<img class="media-object img-rounded"-->
                                         <!--th:src="${comment.user.avatarUrl}"-->
                                         <!--src="https://avatars3.githubusercontent.com/u/36687898?v=4">-->
                                <!--</a>-->
                            <!--</div>-->
                            <!--<div class="media-body" th:id="${'commen-body-'+comment.id}">-->
                                <!--<h4 class="media-heading">-->
                                    <!--<span th:text="${comment.user.name}"></span>-->
                                <!--</h4>-->
                                <!--<div th:text="${comment.content}"></div>-->
                                <!--<div class="media-body menu">-->
                                    <!--<span class="glyphicon glyphicon-thumbs-up icon"></span>-->
                                    <!--<span th:data-id="${comment.id}"-->
                                          <!--onclick="collapseComments(this)" class="comment-icon">-->
                                    <!--<span class="glyphicon glyphicon-comment "></span>-->
                                    <!--<span th:text="${comment.commentCount}"></span>-->
                                <!--</span>-->

                                    <!--<span class="pull-right"-->
                                          <!--th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd')}"></span>-->
                                <!--</div>-->
                                <!--&lt;!&ndash;二级评论&ndash;&gt;-->

                                <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments"-->
                                     <!--th:id="${'comment-'+comment.id}">-->


                                    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                                        <!--<input type="text" class="form-control" placeholder="评论一下"-->
                                               <!--th:id="${'input-'+comment.id}">-->
                                        <!--<button type="button" class="btn btn-success pull-right" onclick="comment(this)"-->
                                                <!--th:data-id="${comment.id}">评论-->
                                        <!--</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <span th:switch="${renzheng.status}">
                        <span th:case="1">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h4>审核意见</h4>
                                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            </div>
                            <button th:data-id="${renzheng.id}" class="btn btn-success" onclick="renzhengPass(this)">通过</button>
                            <button th:data-id="${renzheng.id}" class="btn btn-danger" onclick="renzhengNoPass(this)">不通过</button>
                        </span>
                        <span th:case="0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h4>审核情况</h4>
                                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            </div>
                            <span class="label label-success" style="font-size: 20px;">已认证</span>
                        </span>

                    </span>

            </div>
        </div>
    </div>
</div>
</body>
</html>
